
img{
    margin: 0 auto;
    width: 100%;
    display: block;
}
.App-header{
    width: 100%;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.App-logo{
    margin: auto;
    max-width: 80px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rules{
    text-align: center;
}
.players-block{
    position: relative;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 75px;
}
.players-block .player{
    width: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 175px;
    border-radius: 9px;
}
.dice-image{
    max-width: 100px;
}
.dice-gif{
    max-width: 180px;
}
.score-line{
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 25%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
    font-size: 1.4rem;
}
.player-block__img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
.player .name{
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.reset-btn,
.roll-btn{
    width: 125px;
    position: relative;
    display: block;
    background: green;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    /*margin: auto;*/
    padding: 15px 0;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0px 0rem 5rem 17px rgb(0 0 0 / 25%);
}
.reset-btn{
    position: absolute;
    background: tomato;
    left: 50%;
    top: 8.5rem;
    transform: translateX(-50%);
}
.roll-btn{
    margin: 20px auto;
}
.roll-btn:hover{
    background: lightgreen;
}
.active-player {
    background-color: lightgray;
}
.winner-name{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    color: hsl(337deg 51% 39%);
    font-size: 2rem;
    font-weight: 800;
}
@media (max-width: 500px){
    .player .name {
        font-size: 2rem;
        margin-top: 1rem;
    }
    .winner-name {
        top: 72%;
        font-size: 1.5rem;
        text-align: center;
    }
    .reset-btn {
        top: 10.5rem;
    }
    .score-line {
        padding: 1rem 2rem;
    }
}